<table *ngIf="vehicles.length > 0" class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">BRAND</th>
      <th scope="col">MODEL</th>
      <th scope="col">YEAR</th>
      <th scope="col">COLOR</th>
      <th scope="col">TRANSMISION</th>
      <th scope="col">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles; let i = index">
      <td>{{ vehicle.id }}</td>
      <td>{{ vehicle.brand }}</td>
      <td>{{ vehicle.model }}</td>
      <td>{{ vehicle.year }}</td>
      <td>{{ vehicle.color }}</td>
      <td>{{ vehicle.transmision }}</td>
      <td>
        <button
          class="btn btn-danger btn-sm me-2"
          (click)="onRemoveVehicle(vehicle.id)"
        >
          ELIMINAR
        </button>
        <button
          class="btn btn-info btn-sm"
          (click)="onSelectedVehicle(vehicle)"
        >
          EDITAR
        </button>
      </td>
    </tr>
  </tbody>
</table>
